kbd {
    padding: 0 3px;
    border-radius:3px;
    border-top: 2px solid rgb(240,240,204);
    border-bottom: 2px solid rgb(240,240,204);
    border-left: 2px solid rgb(240,240,204);
    border-right: 2px solid rgb(240,240,204);
}
